@model IList<UniversityModel>
<a class="btn" btn-default href="@Url.Action("Import", "University")">Import</a>
<form>
    @*
    <div>
        @foreach (var u in Model)
        {
            <div>
                <div>
                    @Html.EditorFor(m => u.Edrpou)
                </div>
                <div>
                    @Html.EditorFor(m => u.Edrpou)
                </div>
                <div>
                    @Html.EditorFor(m => u.Title)
                </div>
                <div>
                    @Html.EditorFor(m => u.ShortName)
                </div>
                <div>
                    @Html.EditorFor(m => u.YearBudget)
                </div>
            </div>
        }
    </div>
    *@
</form>