@using System.Web.Optimization
@{
    Layout = "~/Views/_Layouts/_Base.cshtml";
    ViewBag.BodyClass = "bootstrap-admin-with-small-navbar";
}
@section Styles{
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/Admin.css")
}


<div class="col-md-2 bootstrap-admin-col-left">
</div>
<div class="col-md-10">
    @RenderBody()
</div>


@section Scripts{
    @Scripts.Render("~/bundles/admin")
    @RenderSection("Scripts", required: false)
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit&hl=uk"
            async defer>
    </script>
}
