@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/Theme")
    @Styles.Render("~/Content/Vendors")
    @Styles.Render("~/Content/plugins")
    @Styles.Render("~/bundles/css")
    @RenderSection("Styles", required: false)
</head>
<body>
    @RenderSection("GTM", false)
    
    <div class="container">
        <div class="row">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/inputs")
    @Scripts.Render("~/bundles/controls")
    @Scripts.Render("~/Scripts/init.js")
    @Scripts.Render("~/Scripts/materialize.js")
    @Scripts.Render("~/Scripts/pages/page.categoryDetails.js")
    @Scripts.Render("~/Scripts/charts/piechart.js")
    @Scripts.Render("~/Scripts/jquery.dynatable.js")

    @RenderSection("Scripts", required: false)
</body>
</html>
